version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environement:
      - DATABASE_URL=postgresql://user:password@db:5432/mydb
    depends_on:
      -db

    nginx:
      build: ./nginx
      ports:
        - "80:80"
        depends_on:
          - backend
    db:
      image: postgres:15-alpine
      environement:
        - POSTGRES_USER=user
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=mydb
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
