services:
  frontend: 
    build: ./frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend: 
    build: ./backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=database
    depends_on:
      - database
      
  database: 
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: logs_db
      POSTGRES_USER: logs_user
      POSTGRES_PASSWORD: logs_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
 postgres_data:
